*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
}
.w{
    width: 1200px;
    margin: auto;
}

/*************************** nav style ********************************/
.nav{
    height:100px;
    background-color:#f3f5f7;
}
.nav-content{
    padding-top: 30px;
    height: 100%;
    background-color: #f3f5f7;
}
.nav-image{
    float: left;
    margin-right: 65px;
}
.nav-bar li{
    float: left;
    list-style: none;
    padding:10px 5px 10px 5px;
    margin-left: 25px;
}
.nav-bar li:hover{
    float: left;
    list-style: none;
    padding:10px 5px 10px 5px;
    margin-left: 25px;
    border-bottom: 2px solid #00a4ff;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-search-bar input[type=text]{
    float: left;
    margin-left: 95px;
    padding:12px 190px 13px 20px;
    font-size: 12px;
    color:#d4d5d5;
    border:1px solid #00a4ff;
}
.nav-search-bar input[type=button]{
    float: left;
    width:50px;
    height: 41px;
    background-image: url(/images/nav/btn.png);
    border: 0px;
    
}
.nav-profile{
    float: left;
    margin-left: 10px;
    height: 40px;
}
.nav-profile-img{
    float: left;
    margin: 5px 5px;
}
.nav-profile-username{
    float: left;
    margin-left: 0px;
    font-size: 12px;
    line-height: 40px;
    color:#9e9fa0;
}

/*************************** Banner style ********************************/
.banner{
    height:420px;
    background-color: #1c036c;
}
.banner-content{  
    height: 100%;
    background-image: url(/images/banner/banner2.png);
}
.banner-content .sub_nav{  
    float:left;   
    height: 420px;
    width:190px;
    background-color: rgba(0,0,0,0.3);
}
.sub_nav ul{
    float: left;
    margin-top: 20px;
    width: 190px;
    height:378px;
}
.sub_nav li{
    float: left;
    margin-left: 20px;
    width: 150px;
    height:42px;
    line-height: 42px;
    list-style-type: none;
}
.sub_nav a{
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}
.sub_nav i{
    float:right;
    font-style: normal;
}
.sub_nav a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #00a4ff;
}

.course{
    float: right;
    margin-top: 60px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.course dt{
    margin-bottom: 10px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    background-color: #00a4ff;
}
.course dd{
    padding-top: 14px;
    margin: 0px 20px;
    border-bottom: 1px solid #b7b7b7;
    height: 45px;
}
.course dd a{
    text-decoration: none;
    font-weight: 800;
    font-size:14px;
    color: black;

}
.course dd a:hover{
    color: #00a4ff;
}
.course dd div{
    line-height: 24px;
    font-size:12px;
    color: #9e9fa0;

}
.course .all-course{
    float: left;
    width: 188px;
    height: 38px;
    margin:10px 20px;
    border: 1px solid #00a4ff;
    line-height:38px;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    color:#00a4ff;
}
.course .all-course:hover{
    background-color: #00a4ff;
    color: #ffffff;
}


/*************************** Body style ********************************/
.body{
    padding-top: 8px;
    background-color:#f3f5f7;
}
.recommend-bar{
    
    height: 60px;
    background-color: #ffffff;
}
.recommend-text{
    padding-bottom: 20px;
    height: 42px;
    background-color: #f3f5f7;
}
.recommend-text-h4{
    float: left;
    font-size: 24px;
    font-weight: 400;
}
.recommend-text-link{
    margin-top:9px;
    margin-right:10px;
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}
.recommend-content{
    margin-top: 35px;
    background-color: #ffffff;
}
/**cancle float**/
.clearfix:before,.clearfix::after{
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}

.recommend-box{
    float: left;
    margin-right: 15px;
    width: 228px;
    height:270px;
    background-color: red;
}
.recommend-box-mostleft{
    float: left;
    width: 228px;
    height:270px;
    background-color: red;
}
.recommend-box-area-row2{
    margin-top:15px;
}

.intro-text{
    margin-top:40px;
    height: 42px;
    background-color: #f3f5f7;
}
.intro-text-h4{
    float: left;
    font-size: 24px;
    font-weight: 400;
}
.intro-text-link{
    margin-top:9px;
    margin-right:10px;
    float: right;
    font-size: 12px;
    text-decoration: nones;
    color: #a5a5a5;
}
.intro-content{
    margin-top: 35px;
    background-color: #ffffff;
}

.intro-box{
    float: left;
    margin-right: 15px;
    width: 228px;
    height:270px;
    background-color: red;
}
.intro-box-mostleft{
    float: left;
    width: 228px;
    height:270px;
    background-color: red;
}
.intro-box-area-row2{
    margin-top:15px;
}