*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
    color: black;
}
.w{
    width: 1200px;
    margin: auto;
}

/*************************** nav style ********************************/
.nav{
    height:100px;
    background-color:#f3f5f7;
}
.nav-content{
    padding-top: 30px;
    height: 100%;
    background-color: #f3f5f7;
}
.nav-image{
    float: left;
    margin-right: 65px;
}
.nav-bar li{
    float: left;
    list-style: none;
    padding:10px 5px 10px 5px;
    margin-left: 25px;
}
.nav-bar li:hover{
    float: left;
    list-style: none;
    padding:10px 5px 10px 5px;
    margin-left: 25px;
    border-bottom: 2px solid #00a4ff;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-search-bar input[type=text]{
    float: left;
    margin-left: 95px;
    padding:12px 190px 13px 20px;
    font-size: 12px;
    color:#d4d5d5;
    border:1px solid #00a4ff;
}
.nav-search-bar input[type=button]{
    float: left;
    width:50px;
    height: 41px;
    background-image: url(/images/nav/btn.png);
    border: 0px;
    
}
.nav-profile{
    float: left;
    margin-left: 10px;
    height: 40px;
}
.nav-profile-img{
    float: left;
    margin: 5px 5px;
}
.nav-profile-username{
    float: left;
    margin-left: 0px;
    font-size: 12px;
    line-height: 40px;
    color:#9e9fa0;
}

/*************************** Banner style ********************************/
.banner{
    height:420px;
    background-color: #1c036c;
}
.banner-content{  
    height: 100%;
    background-image: url(/images/banner/banner2.png);
}
.banner-content .sub_nav{  
    float:left;   
    height: 420px;
    width:190px;
    background-color: rgba(0,0,0,0.3);
}
.sub_nav ul{
    float: left;
    margin-top: 20px;
    width: 190px;
    height:378px;
}
.sub_nav li{
    float: left;
    margin-left: 20px;
    width: 150px;
    height:42px;
    line-height: 42px;
    list-style-type: none;
}
.sub_nav a{
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}
.sub_nav i{
    float:right;
    font-style: normal;
}
.sub_nav a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #00a4ff;
}

.banner .course{
    float: right;
    margin-top: 60px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.banner .course dt{
    margin-bottom: 10px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    background-color: #00a4ff;
}
.banner .course dd{
    padding-top: 14px;
    margin: 0px 20px;
    border-bottom: 1px solid #b7b7b7;
    height: 45px;
}
.banner .course dd a{
    text-decoration: none;
    font-weight: 800;
    font-size:14px;
    color: black;

}
.banner .course dd a:hover{
    color: #00a4ff;
}
.banner .course dd div{
    line-height: 24px;
    font-size:12px;
    color: #9e9fa0;

}
.banner .course .all-course{
    float: left;
    width: 188px;
    height: 38px;
    margin:10px 20px;
    border: 1px solid #00a4ff;
    line-height:38px;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    color:#00a4ff;
}
.banner .course .all-course:hover{
    background-color: #00a4ff;
    color: #ffffff;
}


/*************************** Body style ********************************/
.body{
    padding-top: 8px;
    padding-bottom: 32px;
    background-color:#f3f5f7;
}
/*************************** bar recommend -bar style ********************************/
.recommend-bar{    
    height: 60px;
    background-color: #ffffff;
    font-size: 16px;
    box-shadow: 0 1px 2px 2px rgba(0,0,0, 0.1);
}
.recommend-bar .header{
    float: left;
    color:#00a4ff;
    margin:0px 35px;
    line-height: 60px;
    font-weight: 600;
}
.recommend-bar span{
    margin-top: 22px;
    float: left;
    padding-left: 40px;
    padding-right: 35px;
    border-left: 1px solid #9e9fa0;
}
.recommend-bar .edit{
    float: right;
    line-height: 60px;
    margin-right:25px ;
    color:#00a4ff;

}
/*************************** re commend-box style ********************************/
.recommend-text{

    height: 42px;
    background-color: #f3f5f7;
}
.recommend-text-h4{
    float: left;
    font-size: 21px;
    font-weight: 400;
}
.recommend-text-link{
    margin-top:9px;
    margin-right:10px;
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}
.recommend-content{
    margin-top: 35px;
    background-color: #ffffff;
}
/**cancle float**/
.clearfix:before,.clearfix::after{
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}

.recommend-box{
    float: left;
    margin-right: 15px;
    width: 228px;
    height:270px;
    background-color: #ffffff;
}
.recommend-box-mostleft{
    float: left;
    width: 228px;
    height:270px;
    background-color:#ffffff;
}
.recommend-box-area img{
    width:100%;
}

.recommend-box-area ul{
    float: left;
    list-style: none;
}
.recommend-box-area .col2{
    margin-top: 15px;
}

.recommend-box-header {
    margin: auto;
    margin-top: 25px;
    width: 185px;
}
.recommend-box-header .bd{
    margin-top: 18px;
    font-size: 12px;
}
.recommend-box-header .bd .level{
    color:#ff7c2d ;
}
.recommend-box-header .bd .learning_number{
    margin-left: 20px;
    color: #999999;
}
.recommend-box-header h4{
    font-weight: 600;
    font-size: 12px;

}


/*************************** intro-header style ********************************/
.intro-text{
    margin-top:20px;
    height: 60px;
    background-color: #f3f5f7;
}

.intro-text .left{
    width: 20%;
    float: left;
    /* width: 228px; */
    background-color: #f3f5f7;
}

.intro-text .right{
    width: 20%;
    float: right;
    /* width: 228px; */
    background-color: #f3f5f7;
    line-height: 50px;
}

.intro-text-h4{
    font-size: 24px;
    font-weight: 400;
}
.intro-class-level{
    float: left;
    width: 60%;
    /* width: 744px; */
    line-height: 60px;
    text-align: center;
}
.intro-class-level ul{
    margin:0 auto;
    list-style: none;
}
.intro-class-level li{
    display: inline-block;
    width:100px;
    font-size:16px;
    list-style: none;
}
.intro-class-level li a{
    color:#9e9fa0;

}
.intro-text-link{
    margin-top:9px;
    margin-right:10px;
    float: right;
    font-size: 12px;
    text-decoration: nones;
    color: #a5a5a5;
}

.intro-content{
    margin-top: 35px;
    background-color: #ffffff;
}

.intro-box{
    float: left;
    margin-right: 15px;
    width: 228px;
    height:270px;
    background-color: #ffffff;
}
.intro-box-mostleft{
    float: left;
    width: 228px;
    height:270px;
    background-color: #ffffff;
}
.intro-box-area-row2{
    margin-top:15px;
}
/*************************** intro-header style ********************************/
.footer{
    height: 417px;
}
.copyright{
    margin-left: 20;
    float: left;
    width: 470px
}
.copyright img{
    margin:35px 0 25px 25px;
}
.copyright div{
    margin-left: 25px;
    font-size: 13px;
    color:#666666;
}
.copyright a{
    margin: 15px 25px;
    text-align: center;
    display: block;
    height: 35px;
    width: 120px;
    line-height: 35px;
    font-size: 16px;
    color:#00a4ff;
    border: 1px solid #00a4ff;
}
.copyright a:hover{
    color: #ffffff;
    background-color:#00a4ff;

}
.footer-content .introduction{
    float: right;
}
.introduction dl{
    margin-top: 25px;
    margin-left: 120px;
    float:right;
    font-weight: 400;
    font-size: 18px;
    
}
.introduction dt{
    margin: 15px 0px;
    font-size: 18px;
}

.introduction dd{
    margin: 4px 0px;
    font-size: 12px;
}

